:root {
    --cor-principal: #fff;
    --cor-secundaria: #7b7bf8;
    --cor-terciaria: #000000;
    --cor-quaternaria: #6868ff6d;
    --cor-hover: #6868ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px var(--cor-quaternaria);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor-secundaria);
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
    color: var(--cor-secundaria);
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--cor-secundaria);

    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: var(--cor-secundaria);
    outline: none;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.form-group-small {
    width: 48%;
}

.btn {
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    color: white;
    background-color: var(--cor-secundaria);
    box-shadow: 5px 5px 1px var(--cor-quaternaria);
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
    border-style: none;
}

.btn:hover {
    background-color: var(--cor-hover);
    cursor: pointer;
}

.btn-cancel {
    background-color: var(--cor-secundaria);
}

.btn-cancel:hover {
    background-color: var(--cor-hover);
}

::placeholder {
    color: var(--cor-secundaria);
    opacity: 1;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    color: var(--cor-secundaria);
}