.botao-perfil {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.botao-voltar {
    position: absolute;
    top: 20px;
    left: 40px;
    padding: 10px;
    background-color: #007BFF;
    ;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.produto {
    text-align: center;
    margin-bottom: 30px;
}

.produto p {
    color: hwb(239 6% 35% / 0.952);
    font-size: 19px;
    margin-top: 1px;
}

.titulo-anuncios {
    color: hwb(240 0% 99% / 0.952);
    font-size: 22px
}